{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        {% if inpostoc3_can_edit.shipment %}
        <button type="submit" form="form-inpostoc3-order-shipping" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary" formaction="{{ action_save }}"><i class="fa fa-save"></i></button>
        {% endif %}
        <!-- <button type="submit" form="form-inpostoc3-order-shipping" data-toggle="tooltip" title="{{ button_shipping_print }}" class="btn btn-primary" formaction="{{ action_dispatch }}"><i class="fa fa-truck"></i></button> -->
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title_order_shipping }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if shipping_code_inpostoc3_used %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa 
        {% if inpostoc3_can_edit.shipment %}
        fa-pencil
        {% else %}
        fa-info-circle
        {% endif %}
        "></i>Order (#{{ order_id }})</h3>
      </div>
    </div>

    
    <!-- Shipments -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i>{{ text_shipments }}</h3>
      </div>
      <div class="panel-body">
        <!-- foreach shipment display div with shipment data + table with parcels-->
        <div class="align-items-center">
          <table class="table table-bordered">
            <thead style="background-color: #f6f6f6;" class="panel-title">
              <tr>
                <td class="text-left text-uppercase">
                  {{ text_shipment_number }}: numerek tutaj
                </td>
                <td class="text-left text-uppercase">
                  {{ text_shipment_tracking_number }}: numerek tutaj
                </td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="3">
                  
                  <table class="table table-condensed" style="width:33%; float: left;" id="shipment-{{ order_id }}">
                    <thead>
                      <tr><td colspan="2">{{ text_sending_method_details }}</td></tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ text_service }}:</td>
                        <td>
                          {% if inpostoc3_can_edit.service_method_details %}
                          <select form="form-inpostoc3-order-shipping-{{ order_id }}" id="input-inpostoc3-service-{{order_id}}">
              
                          </select>
                          {% else %}
                          {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table table-condensed" style="width:33%; float: left;" id="shipment-{{ order_id }}">
                    <thead>
                      <tr><td colspan="2">{{ text_send_from }}</td></tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ text_service }}:</td>
                        <td>
                          {% if inpostoc3_can_edit.service_method_details %}
                          <select form="form-inpostoc3-order-shipping-{{ order_id }}" id="input-inpostoc3-service-{{order_id}}">
              
                          </select>
                          {% else %}
                          {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table table-condensed" style="width:33%; float: left;" id="shipment-{{ order_id }}">
                    <thead>
                      <tr><td colspan="2">{{ text_send_to }}</td></tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ text_service }}:</td>
                        <td>
                          {% if inpostoc3_can_edit.service_method_details %}
                          <select form="form-inpostoc3-order-shipping-{{ order_id }}" id="input-inpostoc3-service-{{order_id}}">
              
                          </select>
                          {% else %}
                          {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div id="inpost-geowidget" style="display: none;"></div>
                </td>

                

              </tr>
              <tr>

              </tr>
              <tr>
                <td colspan="3">
                  <table class="table table-md table-hover">
                    <thead>
                      <tr>
                        <td class="text-left">{{ text_template_description }}</td>
                        <td class="text-left">{{ text_parcel_number }}</td>
                        <td class="text-left">{{ text_parcel_tracking_number }}</td>
                        <td></td>
                      </tr>
                    </thead>
                    <tbody>
                      <!--for each parcel generate tr-->
                      <tr>
                        <td class="text-left">
                          {% if inpostoc3_can_edit.shipment %}
                          <select>
                            <option>opcja</option>
                          </select>
                          {% else %}
                          {{ text_template_description }}
                          {% endif %}
                        </td>
                        <td class="text-left">{{ text_parcel_number }}

                        </td>
                        <td class="text-left">{{ text_parcel_tracking_number }}

                        </td>
                        <td></td>
                      </tr>
                      <!-- future: add as a last row in table ability to add parcels to shipment if this is not inpost_locker_service and not yet shipped/registered via API-->
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <!-- add ability to add another shipment to order in future, for orders split to a couple of shipments and shipment not registered yet via API-->
        
      </div>
    </div>

    {% if inpostoc3_can_edit.shipment %}
    <form method="post" enctype="multipart/form-data" id="form-inpostoc3-order-shipping-{{ order_id }}" class="col-md-12">
    </form>
    {% endif %}

    {% endif %}
  </div>
</div>
{{ footer }}
